<a href="https://colab.research.google.com/github/Ninkrn/bsc_dpdm22/blob/main/%5Bdataprep1%5D_propery_estimator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#เชื่อม google drive 
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:

import os
os.chdir('/content/gdrive/MyDrive/BPDM')

In [ ]:

import pandas as pd

#สรุปข้อมูลนักประเมินแต่ละคน โดยพิจารณาจาก ความมั่นใจในการประเมิน ประเมินราคาซื้อขาย ให้คะเเนนทรัพย์

In [9]:
Home = pd.read_excel('คำตอบนักประเมิน.xlsx', sheet_name='บ้าน')
Home

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,100.0
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,2,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,5500000.0,5000000.0,"ราคาเสนอขาย 20,000-30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
186,2,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,7911000.0,7400000.0,"ราคาเสนอขาย 20,000 - 30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
187,2,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,2500000.0,ราคาเสนอขาย 2.2-3.0 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
188,2,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,3900000.0,ราคาเสนอขาย 3.5-4.0ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
189,2,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1400000.0,ราคาเสนอขาย 1.2-1.5 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN

## ผู้ประเมินคนที่ 1

In [10]:
est1 = Home[Home['ID ผู้ประเมิน'] == 1]
est1

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,100.0
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
6,1,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3500000.0,"5,000-18,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
8,1,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"5,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,1,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,5500000.0,4500000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
156,1,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,7911000.0,5200000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
157,1,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,3600000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
158,1,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,4000000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
159,1,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1200000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN

In [11]:
est1.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,100.0,1.000000e+02,1.000000e+02,0.0,0.0,0.0,0.0,1.0
mean,1.0,4.316360e+06,3.938500e+06,NaN,NaN,NaN,NaN,100.0
std,0.0,2.865391e+06,2.368553e+06,NaN,NaN,NaN,NaN,NaN
min,1.0,3.900000e+05,6.000000e+05,NaN,NaN,NaN,NaN,100.0
25%,1.0,2.892750e+06,2.775000e+06,NaN,NaN,NaN,NaN,100.0
50%,1.0,3.962000e+06,3.600000e+06,NaN,NaN,NaN,NaN,100.0
75%,1.0,5.000000e+06,4.500000e+06,NaN,NaN,NaN,NaN,100.0
max,1.0,2.094900e+07,1.600000e+07,NaN,NaN,NaN,NaN,100.0

In [20]:
Con1 = est1['ความมั่นใจในการเมินราคาทรัพย์']
Con1

0      มั่นใจ
2      มั่นใจ
4      มั่นใจ
6      มั่นใจ
8      มั่นใจ
        ...
155    มั่นใจ
156    มั่นใจ
157    มั่นใจ
158    มั่นใจ
159    มั่นใจ
Name: ความมั่นใจในการเมินราคาทรัพย์, Length: 100, dtype: object

In [22]:
Con2 = Con1.count()
Con2

100

In [34]:
est1['ให้คะแนนทรัพย์'].value_counts()

2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี    54
3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     43
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน       2
1 ขายไม่ได้แน่นอน                      1
Name: ให้คะแนนทรัพย์, dtype: int64

In [28]:
Rate=est1['ให้คะแนนทรัพย์']
Rate

0       3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
2      2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
4       3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
6      2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
8       3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
                      ...
155    2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
156    2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
157    2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
158     3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
159    2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
Name: ให้คะแนนทรัพย์, Length: 100, dtype: object

In [41]:
est1[est1['ให้คะแนนทรัพย์'] == ['2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี'].counts()

SyntaxError: ignored

In [ ]:
ให้คะแนนทรัพย์

## ผู้ประเมินคนที่ 2

In [12]:
est2 = Home[Home['ID ผู้ประเมิน'] == 2]
est2

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,NaN,NaN,NaN,NaN,NaN
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,2,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,5500000.0,5000000.0,"ราคาเสนอขาย 20,000-30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
186,2,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,7911000.0,7400000.0,"ราคาเสนอขาย 20,000 - 30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
187,2,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,2500000.0,ราคาเสนอขาย 2.2-3.0 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
188,2,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,3900000.0,ราคาเสนอขาย 3.5-4.0ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
189,2,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1400000.0,ราคาเสนอขาย 1.2-1.5 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN

In [13]:
est2.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,90.0,9.000000e+01,8.900000e+01,0.0,0.0,0.0,0.0,0.0
mean,2.0,4.240733e+06,4.153258e+06,NaN,NaN,NaN,NaN,NaN
std,0.0,2.714815e+06,2.386901e+06,NaN,NaN,NaN,NaN,NaN
min,2.0,3.900000e+05,9.900000e+05,NaN,NaN,NaN,NaN,NaN
25%,2.0,2.860000e+06,2.600000e+06,NaN,NaN,NaN,NaN,NaN
50%,2.0,4.000000e+06,3.900000e+06,NaN,NaN,NaN,NaN,NaN
75%,2.0,5.000000e+06,4.900000e+06,NaN,NaN,NaN,NaN,NaN
max,2.0,2.094900e+07,1.700000e+07,NaN,NaN,NaN,NaN,NaN

In [23]:
Con3 = est2['ความมั่นใจในการเมินราคาทรัพย์']
Con3

1      มั่นใจ
3      มั่นใจ
5      มั่นใจ
7      มั่นใจ
9      มั่นใจ
        ...
185    มั่นใจ
186    มั่นใจ
187    มั่นใจ
188    มั่นใจ
189    มั่นใจ
Name: ความมั่นใจในการเมินราคาทรัพย์, Length: 90, dtype: object

In [24]:
Con4 = Con3.count()
Con4

90

In [43]:
est2['ให้คะแนนทรัพย์'].value_counts()

3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     64
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน      23
5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน      1
2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี     1
Name: ให้คะแนนทรัพย์, dtype: int64

In [44]:
Rate1=est2['ให้คะแนนทรัพย์']
Rate1

1       4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน
3      3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
5      5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน
7      3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
9      3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
                     ...
185    3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
186    3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
187    3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
188    3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
189    3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
Name: ให้คะแนนทรัพย์, Length: 90, dtype: object

# เปรียบเทียบความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของนักประเมินแต่ละคนและของราคาตั้งขาย (ใช้mapในการเชื่อมตาราง) ใช้คนที่สองเป็นหลักแล้วmapคนที่1
-คนที่1เป็นหลักคนที่2มาเทียบ
-คนที่2เป็นหลักคนที่1มาเทียบ
-

In [ ]:
est2['ประเมิน1'] = est2['']

In [45]:
Home = pd.read_excel('คำตอบนักประเมิน.xlsx', sheet_name='บ้าน')
Home

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,100.0
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,2,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,5500000.0,5000000.0,"ราคาเสนอขาย 20,000-30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
186,2,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,7911000.0,7400000.0,"ราคาเสนอขาย 20,000 - 30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
187,2,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,2500000.0,ราคาเสนอขาย 2.2-3.0 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
188,2,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,3900000.0,ราคาเสนอขาย 3.5-4.0ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
189,2,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1400000.0,ราคาเสนอขาย 1.2-1.5 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN

In [50]:

#select column
est11 = est1[['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','post id']]
est11

     ราคาทรัพย์  ประเมินราคาซื้อ-ขาย                                post id
0     2700000.0            2500000.0     https://nayoo.co/khonkaen/posts/25
2     2600000.0            2200000.0     https://nayoo.co/khonkaen/posts/33
4     5900000.0            5000000.0    https://nayoo.co/khonkaen/posts/495
6     4400000.0            3500000.0    https://nayoo.co/khonkaen/posts/564
8     2750000.0            2500000.0    https://nayoo.co/khonkaen/posts/566
..          ...                  ...                                    ...
155   5500000.0            4500000.0  https://nayoo.co/khonkaen/posts/19495
156   7911000.0            5200000.0  https://nayoo.co/khonkaen/posts/19496
157   2000000.0            3600000.0     https://nayoo.co/khonkaen/posts/20
158   4000000.0            4000000.0     https://nayoo.co/khonkaen/posts/31
159   1375000.0            1200000.0    https://nayoo.co/khonkaen/posts/570

[100 rows x 3 columns]

In [51]:
est21 = est2[['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','post id']]
est21

     ราคาทรัพย์  ประเมินราคาซื้อ-ขาย                                post id
1     2700000.0            2700000.0     https://nayoo.co/khonkaen/posts/25
3     2600000.0            2400000.0     https://nayoo.co/khonkaen/posts/33
5     5900000.0            9000000.0    https://nayoo.co/khonkaen/posts/495
7     4400000.0            3700000.0    https://nayoo.co/khonkaen/posts/564
9     2750000.0            2500000.0    https://nayoo.co/khonkaen/posts/566
..          ...                  ...                                    ...
185   5500000.0            5000000.0  https://nayoo.co/khonkaen/posts/19495
186   7911000.0            7400000.0  https://nayoo.co/khonkaen/posts/19496
187   2000000.0            2500000.0     https://nayoo.co/khonkaen/posts/20
188   4000000.0            3900000.0     https://nayoo.co/khonkaen/posts/31
189   1375000.0            1400000.0    https://nayoo.co/khonkaen/posts/570

[90 rows x 3 columns]

In [53]:

table1121 = est11.merge(est21,left_on='post id',right_on='post id')
table1121

,ราคาทรัพย์_x,ประเมินราคาซื้อ-ขาย_x,post id,ราคาทรัพย์_y,ประเมินราคาซื้อ-ขาย_y
0,2700000.0,2500000.0,https://nayoo.co/khonkaen/posts/25,2700000.0,2700000.0
1,2600000.0,2200000.0,https://nayoo.co/khonkaen/posts/33,2600000.0,2400000.0
2,5900000.0,5000000.0,https://nayoo.co/khonkaen/posts/495,5900000.0,9000000.0
3,4400000.0,3500000.0,https://nayoo.co/khonkaen/posts/564,4400000.0,3700000.0
4,2750000.0,2500000.0,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0
...,...,...,...,...,...
85,5500000.0,4500000.0,https://nayoo.co/khonkaen/posts/19495,5500000.0,5000000.0
86,7911000.0,5200000.0,https://nayoo.co/khonkaen/posts/19496,7911000.0,7400000.0
87,2000000.0,3600000.0,https://nayoo.co/khonkaen/posts/20,2000000.0,2500000.0
88,4000000.0,4000000.0,https://nayoo.co/khonkaen/posts/31,4000000.0,3900000.0
89,1375000.0,1200000.0,https://nayoo.co/khonkaen/posts/570,1375000.0,1400000.0

In [54]:
table2111 = est21.merge(est11,left_on='post id',right_on='post id')
table2111

,ราคาทรัพย์_x,ประเมินราคาซื้อ-ขาย_x,post id,ราคาทรัพย์_y,ประเมินราคาซื้อ-ขาย_y
0,2700000.0,2700000.0,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0
1,2600000.0,2400000.0,https://nayoo.co/khonkaen/posts/33,2600000.0,2200000.0
2,5900000.0,9000000.0,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0
3,4400000.0,3700000.0,https://nayoo.co/khonkaen/posts/564,4400000.0,3500000.0
4,2750000.0,2500000.0,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0
...,...,...,...,...,...
85,5500000.0,5000000.0,https://nayoo.co/khonkaen/posts/19495,5500000.0,4500000.0
86,7911000.0,7400000.0,https://nayoo.co/khonkaen/posts/19496,7911000.0,5200000.0
87,2000000.0,2500000.0,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0
88,4000000.0,3900000.0,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0
89,1375000.0,1400000.0,https://nayoo.co/khonkaen/posts/570,1375000.0,1200000.0

## นักประเมินคนที่1