<a href="https://colab.research.google.com/github/Ninkrn/bsc_dpdm22/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nomalization-Standardization
https://scikit-learn.org/stable/modules/preprocessing.html

In [1]:

import pandas as pd

In [2]:
/#เชื่อม google drive 
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:

import os
os.chdir('/content/gdrive/MyDrive/BPDM')

# ใช้ data กรมอุตุ

In [3]:
weather_data = pd.read_csv('/content/gdrive/MyDrive/BPDM/Group6_2กาญจนสุดา_16วรรณนภา_21เกลิดา_31ศิริขวัญ.csv')

In [4]:
weather_data.head()

,จังหวัด,วันที่,เดือนที่,ปีที่,ความกด,ความชื้นสัมพัทธ์,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิตุ้ม,อุณหภูมิต่ำสุด
0,ขอนแก่น,1,10,2011,1005.47,83,3,9,1.4,24.2,27.6,24.8
1,ขอนแก่น,2,10,2011,1006.65,92,2,10,17.7,24.0,25.6,23.0
2,ขอนแก่น,3,10,2011,1007.49,86,3,10,3,22.9,25.6,22.1
3,ขอนแก่น,4,10,2011,1008.28,80,2,8,0,21.9,25.8,22.8
4,ขอนแก่น,5,10,2011,1009.88,86,2,10,2.2,21.7,24.3,23.1

In [5]:
weather_data.shape

(8169, 12)

In [7]:
data_features = weather_data.iloc[:,4:]
data_features.head()

,ความกด,ความชื้นสัมพัทธ์,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิตุ้ม,อุณหภูมิต่ำสุด
0,1005.47,83,3,9,1.4,24.2,27.6,24.8
1,1006.65,92,2,10,17.7,24.0,25.6,23.0
2,1007.49,86,3,10,3,22.9,25.6,22.1
3,1008.28,80,2,8,0,21.9,25.8,22.8
4,1009.88,86,2,10,2.2,21.7,24.3,23.1

In [8]:
data_features.dtypes

ความกด                float64
ความชื้นสัมพัทธ์        int64
ความเร็วลม             object
จำนวนเมฆ               object
ปริมาณฝน               object
อุณหภูมิจุดน้ำค้าง    float64
อุณหภูมิตุ้ม          float64
อุณหภูมิต่ำสุด         object
dtype: object

In [9]:
data_features.describe()

            ความกด  ความชื้นสัมพัทธ์  อุณหภูมิจุดน้ำค้าง  อุณหภูมิตุ้ม
count  8169.000000       8169.000000         8169.000000   8169.000000
mean   1013.016946         69.798262           18.151916     24.868405
std       3.224640          8.870501            3.775475      2.846185
min    1002.040000         38.000000            1.500000     11.800000
25%    1010.960000         64.000000           15.800000     23.300000
50%    1012.800000         69.000000           18.400000     25.300000
75%    1015.010000         75.000000           21.000000     27.000000
max    1026.100000         99.000000           28.400000     31.000000

In [10]:
data_features[data_features['ความเร็วลม'].eq('-')]

,ความกด,ความชื้นสัมพัทธ์,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิตุ้ม,อุณหภูมิต่ำสุด
1079,1012.65,87,-,-,53.3,23.5,25.8,24.5
1122,1011.47,61,-,-,-,19.7,28.5,22.7
1773,1008.50,73,-,4,0,20.2,25.6,20
1776,1009.51,89,-,7,1.2,22.0,24.2,21.1
1856,1009.45,73,-,4,0,23.9,29.7,24.9
1862,1011.50,70,-,6,0,21.0,27.5,22.2
1927,1015.58,65,-,2,0,15.0,22.7,15.3
1995,1014.22,67,-,1,-,19.4,26.5,20.6
2063,1013.33,68,-,-,-,14.0,21.0,-
2125,1011.17,72,-,8,0,21.3,27.1,23.0
2172,1011.46,69,-,1,0,19.3,26.4,20.4
2173,1010.24,69,-,1,0,19.6,27.0,20.5
2176,1010.04,69,-,1,0,21.3,28.1,22.5
2523,1010.58,72,-,10,0.1,20.7,26.3,22.9
2565,1010.49,60,-,1,-,19.4,28.7,22
2578,1008.99,80,-,5,18.6,23.6,27.8,24.5
2582,1008.13,85,-,9,0.5,24.3,27.2,24.7
2586,1006.65,75,-,6,0,22.4,27.5,23.3
2591,1012.02,70,-,3,0,21.0,27.4,22.2
2595,1014.78,64,-,4,0,19.0,26.7,21.8
2644,1013.62,76,-,9,0,18.6,23.2,20.1
2691,1009.10,68,-,5,0,20.6,27.2,22.3
2744,1012.50,74,-,5,0,23.1,28.7,24.3
2781,1015.98,74,-,7,0,19.5,24.9,21.2
2793,1014.09,68,-,6,0,18.4,24.9,19.9
3211,1011.65,73,-,1,0,21.4,27.1,21.9
3276,1015.20,62,-,-,0,15.0,23.8,17.0
3591,1015.90,66,-,-,0,14.5,21.9,15.0
3659,1014.73,72,-,-,-,19.7,25.6,20.5
4875,1011.22,75,-,1,0,21.9,27.1,20.0
6539,1011.46,73,-,3,0,22.4,28.2,23.5
7981,1010.46,64,-,7,0,18.1,27.1,21.9
8036,1010.57,97,-,10,5.6,21.1,22.1,21.5
8125,1011.13,74,-,1,0,14.1,21.1,12.9